.main{
  background: pink;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left{
  background: skyblue;
  width: 20%;
  text-align: center;
}
.left1 img{
  width: 29%;
}
.right{
  background:lightblue;
width:78%
}
@media only screen and (min-device-width:460px)and (max-device-width:780px){
  .main{
    width: 100%;
    flex-wrap: wrap;
  }
    .left{
      width:100%;
    }
    .left1{
      width: 100%;
    }
}
